
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    
    <div class="border-minecraft p-3" style="width: 50%;">
        <h1>Add New Item</h1>

        <form method="POST">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Add Item" class="button-minecraft mb-2">
                    </td>
                </tr>
            </table>
        </form>

    </div>
</div>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}