{% extends 'base.html' %}

{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

    body{
        font-family: 'VT323';
        background-color: #c6c6c6;
        
    }

    .border-minecraft {
        background-color: #8b8b8b ; 
        box-shadow: inset 1.5px 1.5px 0px rgba(55, 55, 55, 0.8), 
                    inset -2px -2px 0px #ffffff;
        height: 100%;
    }

    .button-minecraft {
        background-color: #c6c6c6 ; 
        box-shadow: inset 1.5px 1.5px 0px rgba(55, 55, 55, 0.8), 
                    inset -2px -2px 0px #ffffff;

        height: 100%;
    }

    .tidak-bold {
        font-weight: normal; /* This makes the font not bold */
    }

    .mepet {
        padding: 0;
        margin: 0;
    }

    .lebar-max{
        width: 100%;
    }

    form input[type="textarea"] {
        width: 100%;
    }
</style>

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    
    <div class="border-minecraft p-3" style="width: 50%;">
        <h1>Edit Item</h1>

        <form method="POST">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Edit Item" class="button-minecraft mb-2">
                    </td>
                </tr>
            </table>
        </form>

    </div>
</div>
{% endblock %}