
{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
{% endblock meta %}

{% block content %}
<div class="login container d-flex justify-content-center align-items-center min-vh-100">
    
    <div class=" border-minecraft p-3" style="width: 50%;">
        <h1>Login</h1>

        <form method="POST" action="">
            {% csrf_token %}
            <div>
                <div class="mb-2">
                    <label for="username" class="form-label mb-0">Username</label>
                    <input type="text" class="form-control border-minecraft mt-0" style="background-color: #c6c6c6;border-radius: 0;" id="username" name="username" placeholder="Username">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label mb-0">Password</label>
                    <input type="password" class="form-control border-minecraft mt-0" style="background-color: #c6c6c6;border-radius: 0;" id="password" name="password" placeholder="Password">
                </div>
                <button type="submit" class="button-minecraft mb-2 ">Login</button>
            </div>
        </form>

        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="mt-auto">
            Don't have an account yet? <a href="{% url 'main:register' %}">Register Now</a>
        </div>
    </div>
</div>
<script src="{% static 'main/script.js' %}"></script>
{% endblock content %}