{% extends 'base.html' %}
{% load static %}
<title>Login</title>
{% block meta %}

{% endblock meta %}

{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

    body{
        font-family: 'VT323';
        background-color: #c6c6c6;
        
    }

    .border-minecraft {
        background-color: #8b8b8b ; 
        box-shadow: inset 1.5px 1.5px 0px rgba(55, 55, 55, 0.8), 
                    inset -2px -2px 0px #ffffff;
        height: 100%;
    }

    .button-minecraft {
        background-color: #c6c6c6 ; 
        box-shadow: inset 1.5px 1.5px 0px rgba(55, 55, 55, 0.8), 
                    inset -2px -2px 0px #ffffff;

        height: 100%;
    }

    .tidak-bold {
        font-weight: normal; /* This makes the font not bold */
    }

    .mepet {
        padding: 0;
        margin: 0;
    }

    .lebar-max{
        width: 100%;
    }

    .login{
        background-image: url('../images/minecraft-wallpaper-hd.jpg'); /* Update the path to your background image */
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 100%;
    }

    .register{
        background-image: url('../images/minecraft-wallpaper-hd.jpg'); /* Update the path to your background image */
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 100%;
    }

    .list-items:last-child p{
        background-color: red;
    }

    form input[type="textarea"] {
        width: 100%;
    }
</style>

<div class="login container d-flex justify-content-center align-items-center min-vh-100">
    
    <div class=" border-minecraft p-3" style="width: 50%;">
        <h1>Login</h1>

        <form method="POST" action="">
            {% csrf_token %}
            <div>
                <div class="mb-2">
                    <label for="username" class="form-label mb-0">Username</label>
                    <input type="text" class="form-control border-minecraft mt-0" style="background-color: #c6c6c6;border-radius: 0;" id="username" name="username" placeholder="Username">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label mb-0">Password</label>
                    <input type="password" class="form-control border-minecraft mt-0" style="background-color: #c6c6c6;border-radius: 0;" id="password" name="password" placeholder="Password">
                </div>
                <button type="submit" class="button-minecraft mb-2 ">Login</button>
            </div>
        </form>

        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="mt-auto">
            Don't have an account yet? <a href="{% url 'main:register' %}">Register Now</a>
        </div>
    </div>
</div>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock content %}