{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!--Navigation Bar-->
    <nav id="navigation" class="navbar navbar-expand-lg navbar-dark border-minecraft">
        <div class="container">
            <p class="navbar-brand fs-2 p-0 mb-0" href="#" >MY INVENTORY</p>
            <a class="fs-5" href = "{% url 'main:logout' %}">
                <button class="border-minecraft" style="background-color: #c6c6c6; ">Logout</button >
            </a>
          
        </div>
      </nav>
    <!--End Navigation Bar-->
    <!--Header-->
    <section style="background-color: #c6c6c6;">
        <h2 class="text-center m-0 pt-2">Hello, {{name}} from {{class}}!</h2>
        <p class="text-center mb-0">Last login: {{ last_login }}</p>
    </section>
    <!--End of Header-->
    <!--Tabel-->
    <section style="background-color: #c6c6c6;">
        <div class="container items text-center mb-3" style="max-width: 60%;">
            <div class="row">
              <div class="col">
                <h5 class="mt-4 mb-2">{{name}}'s Inventory</h2>
              </div>
            </div>
            <div class="row">
                <div class="col-3">
                  Name
                </div>
                <div class="col-1">
                    Amount
                </div>
                <div class="col-4">
                    Description
                </div>
            </div>
            <div class="row table-items">
            </div>
        </div>
    </section>
    <!--End of Tabel-->

    <!--Modal-->
    <div class="modal fade border-minecraft" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0.1);">
        <div class="modal-dialog">
            <div class="modal-content border-minecraft" style="border-radius: 0;">
                <div class="modal-header border-minecraft" style="border-radius: 0;">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body border-minecraft" style="border-radius: 0;">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="name" name="name" style="border-radius: 0;"></input>
                        </div>
                        <div class="mb-3">
                            <label for="price" class="col-form-label">Amount:</label>
                            <input type="number" class="form-control" id="amount" name="amount" style="border-radius: 0;"></input>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="description" name="description" style="border-radius: 0;"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer border-minecraft" style="border-radius: 0;">
                    <button type="button" class="button-minecraft" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="button-minecraft" id="button_add" data-bs-dismiss="modal">Add Product</button>
                </div>
            </div>
        </div>
    </div>
    <!--End of Modal-->

    <!--Messages-->
    <section class="message-box" style="background-color: #c6c6c6; min-height: 2rem;">
        {% if messages %}
            <ul class="text-center">
                {% for message in messages %}
                    <p class="mt-2">{{ message }}</p>
                {% endfor %}
            </ul>
        {% endif %} 
    </section> 
    <!--End of messages-->

    <!--Add Item-->
    <button type="button" class="button-minecraft mx-auto d-block mb-2" style="width: 10rem;" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product by AJAX</button>
    <section class="text-center" style="background-color: #c6c6c6">
        <a href="{% url 'main:create_item' %}">
            <button class="button-minecraft" style="width: 10rem;">
                Add New Item
            </button>
        </a>
        
        <a href="{% url 'main:logout' %}">
            <button class="button-minecraft" style="width: 10rem">
                Logout
            </button>
        </a>
    </section>
     <!--End of Add Item-->
     
     <link rel="stylesheet" href="{% static 'styles.css' %}">
     <script>
        const listItems = document.querySelector(".table-items");
        const messageBox = document.querySelector(".message-box");

        async function getItems() {
            return fetch("/get-product/").then((res) => res.json())
        }

        async function showItems() {
            listItems.innerHTML = '';
            let output = "";
            const items = await getItems()
            items.forEach(item => {
                output += `
                <div class="row list-items justify-content-center">
                    <div class="col-3 mepet">
                            <p class="border-minecraft mepet fs-5">${item.fields.name}</p>
                        </div>
                        <div class="col-1 mepet">
                            <p class="border-minecraft mepet fs-5">${item.fields.amount}</p>
                        </div>
                        <div class="col-4 mepet">
                            <p class="border-minecraft mepet fs-5">${item.fields.description}</p>
                        </div>
                        <div class="col-1 p-0" >
                            <button onclick="deleteItem(${item.pk});" class="button-minecraft lebar-max">Delete</button>
                        </div>
                        <div class="col-1 p-0" >
                            <button onclick="editItem()" class="button-minecraft lebar-max">Edit</button>
                        </div>
                        <div class="col-1 p-0">
                            <button onclick="plusItem(${item.pk});" class="button-minecraft lebar-max">+</button>       
                        </div>
                        <div class="col-1 p-0">
                            <button onclick="minItem(${item.pk});" class="button-minecraft lebar-max">-</button>
                        </div>
                    </div>
                </div>
            `;
            });
            listItems.innerHTML = output;
        }

        showItems()

        async function addProduct() {
            fetch("/create-ajax/", {
                method: "POST",
                body: new FormData(document.querySelector('#form'))
            })
            .then(res => res.json())
            .then(data =>{
                if (data.success){
                    showItems();
                    messageBox.innerHTML = `
                    <p class="text-center">${data.message}<p>
                    `;
                }
            })
            document.getElementById("form").reset()
            return false
        }

        document.getElementById("button_add").onclick = addProduct

        async function plusItem(itemId) {
            fetch("/tambah_item/"+itemId+"/", {
            }).then(showItems)
        }

        function minItem(itemId) {
            fetch("/kurang_item/"+itemId+"/", {
            }).then(showItems)
        }

        async function deleteItem(itemId) {
            fetch("/delete-item-ajax/"+itemId+"/", {
                method: "DELETE"
            })
            .then(res => res.json())
            .then(data =>{
                if (data.success){
                    showItems();
                    messageBox.innerHTML = `
                    <p class="text-center">${data.message}<p>
                    `;
                }
            })
            
        }

     </script>
{% endblock content %}