{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <title>Register</title>
{% endblock meta %}

{% block content %}  

<div class="container register d-flex justify-content-center align-items-center min-vh-100">
    <div class="row border-minecraft p-3" style="width: 70%;">
            <h1>Register</h1>
            
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="button-minecraft" style="height: 2rem;">Register</button>
            </form>
            
            {% if messages %}
                <div class="alert alert-info mt-3">
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        
    </div>
</div>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock content %}
